<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>
        {% if site.description %}
          <p>{{ site.description }}</p>
        {% endif %}
        <nav class="site-nav">
          <a href="{{ '/' | relative_url }}">Home</a>
          <a href="{{ '/letter-to-congress/' | relative_url }}">Letter to Congress</a>
          <a href="{{ '/fundraising/' | relative_url }}">Fundraising</a>
          <a href="{{ '/projects/' | relative_url }}">Projects</a>
          <a href="{{ '/concepts/' | relative_url }}">Conceptual Research</a>
          <a href="{{ '/art-jam/' | relative_url }}">Art Jam Oct 23</a>
          <a href="{{ '/mission/' | relative_url }}">Mission</a>
          <a href="{{ '/contact-us/' | relative_url }}">Contact Us</a>
          <a href="{{ '/stats/' | relative_url }}">Usage Statistics</a>
          <a href="{{ '/finding-a-balance/' | relative_url }}">Finding a Balance</a>
        </nav>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <footer>
      <p>Theme based on <a href="https://github.com/pages-themes/modernist">Modernist</a>.</p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
